@import 'styles/shared.scss';

.Contacts__item {
  max-width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $indigo;
  border-radius: 4px;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.Contacts__content {
  word-wrap: break-word;
  max-width: 220px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Contacts__text {
  margin: 0;
}

.Contacts__button {
  @extend %button;
  margin-right: 5px;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
